#about-me {
  display: flex;
  flex-direction: column;
  place-items: center;
  background: var(--highlight-gradient);
  color: var(--highlight-color);
  border-radius: 0 0 25px 25px;
}

.about-me__introduction {
  text-align: center;
}

.about-me__img {
  height: 200px;
  width: auto;
}
