#contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  background: var(--highlight-gradient);
  color: var(--highlight-color);
  border-radius: 25px 25px 0 0;
  text-align: center;
}

.contact__title {
  grid-column: 1/2;
  color: inherit;
}

.contact__form {
  grid-column: 1/2;
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
}

.form__label {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  color: var(--highlight-color);
}

.form__label--input {
  background: var(--background-gradient);
  color: var(--main-color);
  text-align: center;
  border-radius: 20px;
  outline: none;
  transition: 0.3s;
}

.form__label--input::placeholder {
  color: var(--main-color);
}

.input__message {
  height: 60px;
  text-align: left;
}

.form__label--input[type="submit"] {
  color: var(--main-color);
  padding: 10px;
  border: 2px solid var(--highlight-color);
}

.form__label--input[type="submit"]:hover {
  background: var(--highlight-gradient);
  color: var(--hightlight-color);
}

.contact__map {
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

@media (max-width: 480px) {
  #contact {
    display: flex;
    flex-direction: column;
  }
}
