#cv {
  background: var(--highlight-gradient);
  color: var(--highlight-color);
  border-radius: 20px;
}

.cv__heading {
  color: inherit;
}

.cv__list {
  display: flex;
  flex-wrap: wrap;
  list-style: square;
}

.cv__list--item {
  text-align: left;
  width: 100%;
}

@media (min-width: 768px) {
  .cv__list {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
  }
}
