.footer {
  background: var(--highlight-gradient);
  display: flex;
  justify-content: flex-end;
}

.footer__img {
  height: 35px;
  background: linear-gradient(
    -90deg,
    rgba(4, 0, 66, 1) 0%,
    rgba(0, 4, 11, 1) 50%,
    rgba(0, 6, 52, 1) 100%
  );
  border-radius: 10px;
}

.footer__img:hover {
  padding: 3px;
}
