header {
  grid-row: 1/2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--background-gradient);
  color: white;
  padding: 20px;
}

.header__title {
  padding-right: 10px;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav__link {
  text-decoration: none;
  color: inherit;
  padding: 0 10px;
}

.header_theme-btn {
  position: absolute;
  right: 10px;
  display: flex;
  background: inherit;
  color: inherit;
  border: 1px solid #d1d1d1;
  border-radius: 20px;
  outline: none;
  padding: 5px;
}
