.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  background: var(--dark-gradient);
  color: var(--light-color);
  padding: 20px;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav__link {
  text-decoration: none;
  color: inherit;
  padding: 0 10px;
}

.header_theme-btn {
  position: absolute;
  right: 10px;
  display: flex;
  background: inherit;
  color: inherit;
  border: 1px solid var(--light-color);
  border-radius: 20px;
  outline: none;
  padding: 5px;
}
