.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__list--item {
  background: var(--highlight-gradient);
  border-radius: 25px;
  list-style: none;
  color: var(--highlight-color);
}
