.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skills__list--item {
  background: var(--highlight-gradient);
  border-radius: 25px;
  list-style: none;
  color: var(--highlight-color);
}

@media (min-width: 768px) {
  #skills {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 0 20px;
  }
  .skills__technic {
    grid-column: 1 / 2;
  }
  .skills__language {
    grid-column: 2/3;
  }
}
